* {
    font-family: sans-serif;
}

#task-list div {
    background-color:rgb(219, 111, 111);
    text-align: center;
    border-radius: 5px;
}

.task-table {
    width:20%;
}


#task-list {
    list-style-type: none;
    text-align: center;
} 

#task-list .is-checked{
    background-color: rgb(104, 177, 104);
}